@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Processed Correctly</h1><br />
        <img src="~/images/confirmation.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for your order! <br />
        We have received your Order and We will send you an email soon!
        <br />
        Your Order number is: @Model

        <div class="text-center">
            <a asp-area="Inventory" asp-controller="Home" asp-action="Index" class="btn btn-success">Exit</a>
        </div>
    </div>
</div>